/* Components */

@import './components/header.css';
@import './components/loader.css';
@import './components/notifications.css';
@import './components/separator.css';
@import './components/videos.css';

/* End */

* {
    font-family: 'Lato', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.application {
    width: 400px;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.visually-hidden {
    visibility: hidden;
    opacity: 0;
}