/* == Header Component == */

.header {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    background-image: linear-gradient(to right, #e64f4f, #ac0000);
    color: #fff;
    box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 0%, 0.22);
}

.header.header--online {
    background-image: linear-gradient(to right, #3ED180, #1AAE81);
}

.header__main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
}

.header__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header__moment {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.8;
}

.header__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 0 0 auto;
    margin-left: 15px;
}

.header__logo {
    width: 24px;
}

.header__logo>.st0 {
    fill: #fff;
}
