/* == Notifications Component == */

.notifications {
    --active-color: #2cbd81;
    --no-active-color: #aaaaaa;
    display: flex;
    padding: 10px 15px;
    background-color: #fafafa;
}

.notifications__category-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
}

.notifications__item:not(:last-child) {
    margin-right: 15px;
}

.notifications__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notifications__label {
    font-size: 14px;
    line-height: 21px;
}

.notifications__toggle-switch {
    display: none;
}

.notifications__toggle-switch+label {
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 11px;
    background-color: var(--no-active-color);
    width: 40px;
    height: 20px;
    position: relative;
    margin: 1px;
    transition: all 0.2s;
}

.notifications__toggle-switch+label:after {
    content: '';
    background-color: #FFF;
    border: 1px solid var(--no-active-color);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -1px;
    left: 0;
    transition: all 0.2s;
}

.notifications__toggle-switch:checked+label {
    background-color: var(--active-color);
    border-color: var(--active-color);
}

.notifications__toggle-switch:checked+label:after {
    left: 20px;
    border-color: var(--active-color);
}
